/*this is a flex container and its flex items are header, nav, main, aside, wireframes, footer*/

#wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

header {
  align-self: center;
  font-family: sans-serif;
  font-size: 1em;
}

nav {
  background-color: white;
  border-top-style: solid;
  border-top-color: #000;
  border-bottom-style: solid;
  border-bottom-color: #000;
}

nav ul {
  display: flex;
  /*  now all of the image and li's are flex items*/
  justify-content: space-around;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav img {
  /*  this is a flex item*/
  width: 30%;
}

nav li {
  /*  flex item*/
  list-style-type: none;
  margin-left: 5px;
}

nav a {
  color: black;
}

a:hover {
  color: lightblue;
}

form {
  width: 100%;
}

#searchResults {
  width: 100%;
}

main {
  background-color: white;
  display: flex;
  /*  now everything inside this container is a flex item (sunandcity p and ul)*/
  flex-direction: column;
  align-items: center;
}

#sunandcity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sunandcity img {
  height: 35%;
  margin: 10px;
}

#sunandcity p {
  align-self: center;
  font-size: 2em;
  margin-left: 15px;
}

#highlow {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
}

main p {
  margin: 5px;
}

main ul {
  display: flex;
  /*  this makes all of the li flex items*/
  flex-wrap: wrap;
  border-top-style: solid;
  border-top-color: #000000;
  padding: 15px;
}

main li {
  list-style-type: none;
  width: 20%;
  margin: 5px;
}

aside {
  display: none;
}

#wireframes {
  background-color: white;
}

footer {
  background-color: white;
}

@media screen and (min-width: 620px) {
  header {
    font-size: 1.5em;
  }
  nav {
    font-size: 1.3em;
  }
  #sunandcity {
    width: 100%;
  }
  #sunandcity p {
    font-size: 3em;
  }
  #highlow {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
  }
  main {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  main p {
    width: 30%;
    font-size: 1.3em;
    margin: 0;
    padding: 10px;
  }
  main ul {
    justify-content: center;
  }
  main li {
    font-size: 1.3em;
    width: 30%;
  }
}

@media screen and (min-width: 1000px) {
  #wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }
  header {
    font-size: 1.8em;
    margin-left: 20px;
  }
  nav {
    font-size: 1.5em;
    width: 100%;
  }
  main {
    width: 70%;
  }
  #sunandcity p {
    font-size: 4em;
    margin-top: 30px;
  }
  #sunandcity img {
    margin-top: 30px;
  }
  aside {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    align-items: center;
    line-height: 1.5em;
    font-size: 1.5em;
  }
  #wireframes {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}


/*
#page-header {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 2em;
  background-color: lightblue;
}

h1 {
  margin: 0;
}

#page-nav {
  border-top-style: solid;
  border-top-color: #000000;
  padding: 0.5em;
}

nav img {
  width: 30%;
}

nav li {
  list-style-type: none;
  width: 20%;
  float: left;
  padding: .2em;
  margin-top: 0.5em;
  margin-left: 0.1em;
  font-size: .9em;
  text-align: center;
}

nav a {
  color: black;
}

a:hover {
  color: lightblue;
}

nav ul {
  padding: 0;
  margin: 0;
}

.row {
  width: 100%;
  clear: left;
}

.row img {
  float: left;
  width: 40%;
  padding: 0.5em;
  margin: 0.5em;
}

.row p {
  float: left;
  width: 40%;
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 1em;
}

.row2 {
  width: 100%;
  clear: left;
  text-align: center;
  font-size: 1.5em;
}

.row3 {
  width: 100%;
  clear: left;
  text-align: center;
}

.row4 {
  width: 100%;
  clear: left;
  display: none;
}

#page-footer {
  width: 100%;
  text-align: center;
  font-size: .8em;
  clear: left;
}

aside {
  display: none;
}

#wireframes {
  clear: left;
}

@media screen and (min-width: 600px) {
  #page-nav {
    font-size: 2em;
  }
  nav img {
    width: 40%;
  }
  .row p {
    font-size: 3em;
    margin-left: 1em;
    margin-top: 1.5em;
  }
  .row2 {
    font-size: 2em;
  }
  .row3 {
    column-count: 2;
    font-size: 1.5em;
  }
  .row4 {
    display: block;
    margin-top: 3em;
    border-top-style: solid;
    border-top-color: #000000;
    padding: 0.5em;
  }
  .row4 li {
    list-style-type: none;
    float: left;
    margin: .2em;
    font-size: 1.5em;
    clear: left;
  }
  .row4 ul {
    column-count: 3;
  }
}

@media screen and (min-width: 1000px) {
  #page-nav {
    font-size: 2.25em;
  }
  .row p {
    font-size: 3.25em;
    margin-left: 1.25em;
    margin-top: 3em;
  }
  .row2 {
    font-size: 2.25em;
  }
  .row3 {
    font-size: 1.75em;
  }
  .row4 {
    margin-top: 3.25em;
    padding: 0.75em;
  }
  .row4 li {
    margin: .2em;
    font-size: 1.6em;
  }
  .row4 ul {
    column-count: 4;
  }
  main {
    clear: left;
    float: left;
    width: 70%;
  }
  aside {
    display: block;
    width: 20%;
    float: left;
    padding-left: 2em;
    margin: 2em;
    font-size: 1.2em;
    line-height: 1.5em;
  }
}*/
