#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#page-header {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 1.2em;
}

#page-header {
  background-color: cadetblue;
  background-image: url(../images/logo-small.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, center;
  background-size: contain, cover;
}

nav {
  background-color: white;
  border-top-style: solid;
  border-top-color: #000;
  border-bottom-style: solid;
  border-bottom-color: #000;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

nav li {
  list-style-type: none;
  font-family: sans-serif;
}

nav a {
  color: black;
}

a:hover {
  color: navy;
}

main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 20px;
  align-self: center;
}

h2,
p {
  font-family: sans-serif;
}

#imagescroll {
  display: none;
}

footer {
  background-color: cadetblue;
  font-family: sans-serif;
  width: 100%;
  font-size: .6em;
}

footer ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

footer a {
  color: black;
}

aside {
  display: none;
}

#homeworkaside {
  display: block;
}

@media screen and (min-width: 41.67em) {
  #page-header {
    background-image: url(../images/logo-medium.png);
  }
  h1 {
    font-size: 2em;
  }
  nav {
    font-size: 1.2em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  #smallpic {
    display: none;
  }
  #imagescroll {
    display: flex;
    overflow: auto;
  }
  picture {
    align-self: center;
    padding-left: 2em;
  }
  main {
    width: 85%;
  }
  footer {
    font-size: 1.2em;
  }
  #homeworkaside {
    display: block;
  }
}

@media screen and (min-width: 66.7em) {
  main {
    width: 70%;
  }
  #page-header {
    background-image: url(../images/logo-medium.png);
  }
  h1 {
    font-size: 2.5em;
  }
  nav {
    font-size: 1.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
  aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    line-height: 1.5em;
    font-size: 1.5em;
  }
  ul li {
    font-family: sans-serif;
  }
}
