html * {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: 20px "times new roman", times, serif;
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  /*  flex-direction: row; this is the default*/
  flex-wrap: wrap;
}


/*
#page-header {
 width: 100%; this is the default
}
*/

.row {
  display: flex;
}

#page-nav {
  width: 20%;
}

main {
  width: 50%;
}

#page-aside {
  width: 30%;
}

#page-nav,
main,
#page-aside,
#page-header {
  border: 1px solid #000;
}


/*@media screen and (min-width: 600px) {
  #page-header {
    width: 100%;
    text-align: center;
  }
  #page-nav {
    float: left;
    width: 30%;
    padding: 1em;
  }
  main {
    width: 40%;
    float: left;
    margin: 1em;
    padding: 1em;
  }
  h1 {
    margin: 0 0 0 0;
  }
  #page-aside {
    float: left;
    width: 20%;
    padding: 1em;
  }
  #page-footer {
    clear: left;
  }
}
*/


/*adding a div class="row" will automatically create columns for each of those children
only use divs when there is not a semantic element to do a job or for styling purposes*/
